<ul>
{% if page.template == 'modular' %}
    {% for module in page.collection() if module.header.menu %}
    <li class="menu-item{% if loop.index == 1 %} active{% endif %} text-shadowed">
        <a href="#{{ module.folder|trim('_') }}" data-scroll>{{ module.header.menu }}</a>
    </li>
    {% endfor %}
{% else %}
    {% for p in pages.children.visible %}
    {% set current_page = (p.active or p.activeChild) ? ' active' : '' %}
    <li class="menu-item{{ current_page }} text-shadowed">
        <a href="{{ p.url }}">{{ p.menu }}</a>
    </li>
    {% endfor %}
{% endif %}
    <li class="menu-item text-shadowed separation-left">
        <a href="/es/" class="external">ES</a>
    </li>
    <li class="menu-item text-shadowed">
        <a href="/en/" class="external">EN</a>
    </li>
</ul>
